<a href="https://colab.research.google.com/github/TaysTyas/Bakudan/blob/master/Model_Prediksi_Berat_Badan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Modelling Prediksi Berat Badan

###Import Library

In [1]:
#import library
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import warnings
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error,mean_absolute_error
warnings.filterwarnings('ignore')
import joblib

In [2]:
#load dataset
dataset  = "https://raw.githubusercontent.com/TaysTyas/Bakudan/master/weight-height.csv"
data = pd.read_csv(dataset)

In [3]:
#menampilkan 5 dataset teratas
data.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [4]:
#cek tipe data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

###Data Preprocessing

In [5]:
#membuat label
label_enc = LabelEncoder()
#Male = 1, Female = 0
data.Gender = label_enc.fit_transform(data.Gender)

In [6]:
data.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [7]:
#menampilkan baris dan column pada dataset
data

      Gender     Height      Weight
0          1  73.847017  241.893563
1          1  68.781904  162.310473
2          1  74.110105  212.740856
3          1  71.730978  220.042470
4          1  69.881796  206.349801
...      ...        ...         ...
9995       0  66.172652  136.777454
9996       0  67.067155  170.867906
9997       0  63.867992  128.475319
9998       0  69.034243  163.852461
9999       0  61.944246  113.649103

[10000 rows x 3 columns]

In [8]:
#Mengubah data Height dari inch ke cm
def inch_to_cm(x):
    return x*2.54

#Mengubah data Weight dari pounds ke kg
def pounds_to_kg(x):
  return x*0.45359237

def convert(data):
  data["Height"] = data['Height'].apply(inch_to_cm)
  data["Weight"] = data["Weight"].apply(pounds_to_kg)
  return data
convert(data)

      Gender      Height      Weight
0          1  187.571423  109.721075
1          1  174.706036   73.622792
2          1  188.239668   96.497629
3          1  182.196685   99.809586
4          1  177.499761   93.598695
...      ...         ...         ...
9995       0  168.078536   62.041210
9996       0  170.350573   77.504378
9997       0  162.224700   58.275424
9998       0  175.346978   74.322226
9999       0  157.338385   51.550366

[10000 rows x 3 columns]

In [9]:
#menghapus colum Weight karena weight adalah output hasil prediksinya.
X = data.drop("Weight", axis=1)
y = data["Weight"]

In [10]:
X

      Gender      Height
0          1  187.571423
1          1  174.706036
2          1  188.239668
3          1  182.196685
4          1  177.499761
...      ...         ...
9995       0  168.078536
9996       0  170.350573
9997       0  162.224700
9998       0  175.346978
9999       0  157.338385

[10000 rows x 2 columns]

In [11]:
y

0       109.721075
1        73.622792
2        96.497629
3        99.809586
4        93.598695
           ...
9995     62.041210
9996     77.504378
9997     58.275424
9998     74.322226
9999     51.550366
Name: Weight, Length: 10000, dtype: float64

In [12]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  int64
 1   Height  10000 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 156.4 KB

###Modeling

In [13]:
list_akurasi = []

####Linear Regression

In [14]:
#Training Model
log_regr = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y)

modelLR = log_regr.fit(X_train, y_train)
y_pred = log_regr.predict(X_test)

accuracy = modelLR.score(X_test, y_test)
akurasiLR = accuracy * 100
list_akurasi.append(akurasiLR)

print(f"Akurasi Model menggunakan Algoritma Linear Regression : {akurasiLR}%\n")
print("MAE  : %.4f"%(mean_absolute_error(y_pred, y_test)))
print("MAPE : %.4f"%(mean_absolute_percentage_error(y_pred, y_test)))
print("MSE  : %.4f"%(mean_squared_error(y_pred, y_test)))
print("RMSE : %.4f"%(mean_squared_error(y_pred, y_test, squared=False)))

Akurasi Model menggunakan Algoritma Linear Regression : 90.49917515125114%

MAE  : 3.6082
MAPE : 0.0515
MSE  : 20.4252
RMSE : 4.5194

####KNN

In [15]:
#Training Model
modelKNN = KNeighborsRegressor(n_neighbors=10)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

modelKNN = modelKNN.fit(X_train, y_train)
y_pred = modelKNN.predict(X_test)

accuracy = modelKNN.score(X_test, y_test)
akurasiKNN = accuracy * 100
list_akurasi.append(akurasiKNN)

print(f"Akurasi Model menggunakan Algoritma KNN : {akurasiKNN}%\n")
print("MAE  : %.4f"%(mean_absolute_error(y_pred, y_test)))
print("MAPE : %.4f"%(mean_absolute_percentage_error(y_pred, y_test)))
print("MSE  : %.4f"%(mean_squared_error(y_pred, y_test)))
print("RMSE : %.4f"%(mean_squared_error(y_pred, y_test, squared=False)))

Akurasi Model menggunakan Algoritma KNN : 88.88442265527671%

MAE  : 3.8210
MAPE : 0.0546
MSE  : 23.0319
RMSE : 4.7992

####Random Forest

In [16]:
#Training Model
modelRF = RandomForestRegressor()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

modelRF = modelRF.fit(X_train, y_train)
y_pred = modelRF.predict(X_test)

accuracy = modelRF.score(X_test, y_test)
akurasiRF = accuracy * 100
list_akurasi.append(akurasiRF)

print(f"Akurasi Model menggunakan Algoritma Random Forest : {akurasiRF}%\n")
print("MAE  : %.4f"%(mean_absolute_error(y_pred, y_test)))
print("MAPE : %.4f"%(mean_absolute_percentage_error(y_pred, y_test)))
print("MSE  : %.4f"%(mean_squared_error(y_pred, y_test)))
print("RMSE : %.4f"%(mean_squared_error(y_pred, y_test, squared=False)))

Akurasi Model menggunakan Algoritma Random Forest : 86.05469041767725%

MAE  : 4.3268
MAPE : 0.0611
MSE  : 29.7745
RMSE : 5.4566

####SVR

In [17]:
#Training Model
modelSVR = SVR(kernel='linear')
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

modelSVM = modelSVR.fit(X_train, y_train)
y_pred = modelSVR.predict(X_test)

accuracy = modelSVR.score(X_test, y_test)
akurasiSVR = accuracy * 100
list_akurasi.append(akurasiSVR)

print(f"Akurasi Model menggunakan Algoritma SVM : {akurasiSVR}%\n")
print("MAE  : %.4f"%(mean_absolute_error(y_pred, y_test)))
print("MAPE : %.4f"%(mean_absolute_percentage_error(y_pred, y_test)))
print("MSE  : %.4f"%(mean_squared_error(y_pred, y_test)))
print("RMSE : %.4f"%(mean_squared_error(y_pred, y_test, squared=False)))

Akurasi Model menggunakan Algoritma SVM : 90.57775635099786%

MAE  : 3.6236
MAPE : 0.0519
MSE  : 20.5654
RMSE : 4.5349

####Decision Tree

In [18]:
#Training Model
modelDT = DecisionTreeRegressor()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

modelDT = modelDT.fit(X_train, y_train)
y_pred = modelDT.predict(X_test)

accuracy = modelDT.score(X_test, y_test)
akurasiDT = accuracy * 100
list_akurasi.append(akurasiDT)

print(f"Akurasi Model menggunakan Algoritma Decision Tree : {akurasiDT}%\n")
print("MAE  : %.4f"%(mean_absolute_error(y_pred, y_test)))
print("MAPE : %.4f"%(mean_absolute_percentage_error(y_pred, y_test)))
print("MSE  : %.4f"%(mean_squared_error(y_pred, y_test)))
print("RMSE : %.4f"%(mean_squared_error(y_pred, y_test, squared=False)))

Akurasi Model menggunakan Algoritma Decision Tree : 81.89957912400297%

MAE  : 4.9198
MAPE : 0.0702
MSE  : 38.3781
RMSE : 6.1950

####Polynomial Regression

In [19]:
#Training Model
poly = PolynomialFeatures(degree=2)
X_poly = poly.fit_transform(X)

modelPR = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X_poly, y, test_size = 0.3)

model = modelPR.fit(X_train, y_train)
y_pred = modelPR.predict(X_test)

accuracy = modelPR.score(X_test, y_test)
akurasiPR = accuracy * 100
list_akurasi.append(akurasiPR)

print(f"Akurasi Model menggunakan Algoritma Polynomial Regression : {akurasiPR}%\n")
print("MAE  : %.4f"%(mean_absolute_error(y_pred, y_test)))
print("MAPE : %.4f"%(mean_absolute_percentage_error(y_pred, y_test)))
print("MSE  : %.4f"%(mean_squared_error(y_pred, y_test)))
print("RMSE : %.4f"%(mean_squared_error(y_pred, y_test, squared=False)))

Akurasi Model menggunakan Algoritma Polynomial Regression : 90.45721319655914%

MAE  : 3.6056
MAPE : 0.0511
MSE  : 20.5227
RMSE : 4.5302

###Memilih model dengan akurasi terbaik untuk di deploy

In [20]:
list_akurasi.sort()
#Melihat Algoritma mana yang menghasilkan akurasi model Tertinggi
if list_akurasi[5] == akurasiLR:
  print("Algoritma yang menghasilkan AKURASI MODEL TERBAIK adalah Linear Regression\n")

elif list_akurasi[5] == akurasiPR:
  print("Algoritma yang menghasilkan AKURASI MODEL TERBAIK adalah Polynomial Regression\n")
  
elif list_akurasi[5] == akurasiSVR:
  print("Algoritma yang menghasilkan AKURASI MODEL TERBAIK adalah SVR\n")
  
elif list_akurasi[5] == akurasiDT:
  print("Algoritma yang menghasilkan AKURASI MODEL TERBAIK adalah Decision Tree\n")
  
elif list_akurasi[0] == akurasiRF:
  joblib.dump((modelRF), "weight-prediction.pkl")
  print("Algoritma yang menghasilkan AKURASI MODEL TERBAIK adalah Random Forest\n")
  
else:
  print("Algoritma yang menghasilkan AKURASI MODEL TERBAIK adalah KNN\n")

Algoritma yang menghasilkan AKURASI MODEL TERBAIK adalah SVR

Berdasarkan hasil diatas, Linear Regression menghasilkan akurasi terbaik. Oleh karena itu, pada pemodelan prediksi berat badan ini kami memutuskan untuk menggunakan algoritma Linear Regression.

In [21]:
joblib.dump((modelLR), "weight-prediction.pkl")

['weight-prediction.pkl']