<a href="https://colab.research.google.com/github/TaysTyas/Bakudan/blob/master/Model_Prediksi_Berat_Badan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Modelling Prediksi Berat Badan

###Import Library

In [6]:
#import library
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import warnings
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error,mean_absolute_error
warnings.filterwarnings('ignore')
import joblib

In [7]:
#load dataset
dataset  = "https://raw.githubusercontent.com/TaysTyas/Bakudan/dataset/weight-height.csv"
data = pd.read_csv(dataset)

In [8]:
#menampilkan 5 dataset teratas
data.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [9]:
#cek tipe data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

###Data Preprocessing

In [10]:
#membuat label
label_enc = LabelEncoder()
#Male = 1, Female = 0
data.Gender = label_enc.fit_transform(data.Gender)

In [11]:
data.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [12]:
#menampilkan baris dan column pada dataset
data

      Gender     Height      Weight
0          1  73.847017  241.893563
1          1  68.781904  162.310473
2          1  74.110105  212.740856
3          1  71.730978  220.042470
4          1  69.881796  206.349801
...      ...        ...         ...
9995       0  66.172652  136.777454
9996       0  67.067155  170.867906
9997       0  63.867992  128.475319
9998       0  69.034243  163.852461
9999       0  61.944246  113.649103

[10000 rows x 3 columns]

In [13]:
#Mengubah data Height dari inch ke cm
def inch_to_cm(x):
    return x*2.54

#Mengubah data Weight dari pounds ke kg
def pounds_to_kg(x):
  return x*0.45359237

def convert(data):
  data["Height"] = data['Height'].apply(inch_to_cm)
  data["Weight"] = data["Weight"].apply(pounds_to_kg)
  return data
data

      Gender     Height      Weight
0          1  73.847017  241.893563
1          1  68.781904  162.310473
2          1  74.110105  212.740856
3          1  71.730978  220.042470
4          1  69.881796  206.349801
...      ...        ...         ...
9995       0  66.172652  136.777454
9996       0  67.067155  170.867906
9997       0  63.867992  128.475319
9998       0  69.034243  163.852461
9999       0  61.944246  113.649103

[10000 rows x 3 columns]

In [14]:
#menghapus colum Weight karena weight adalah output hasil prediksinya.
X = data.drop("Weight", axis=1)
y = data["Weight"]

In [15]:
X

      Gender     Height
0          1  73.847017
1          1  68.781904
2          1  74.110105
3          1  71.730978
4          1  69.881796
...      ...        ...
9995       0  66.172652
9996       0  67.067155
9997       0  63.867992
9998       0  69.034243
9999       0  61.944246

[10000 rows x 2 columns]

In [16]:
y

0       241.893563
1       162.310473
2       212.740856
3       220.042470
4       206.349801
           ...
9995    136.777454
9996    170.867906
9997    128.475319
9998    163.852461
9999    113.649103
Name: Weight, Length: 10000, dtype: float64

In [17]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  int64
 1   Height  10000 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 156.4 KB

###Modeling

####Linear Regression